@charset "UTF-8";
@import url(./font.css);
:root {
  --accent-clr: #c42c48;
  --accent-clr2: #cc2c54;
  --bg-clr: #f4efea;
  --txt-clr: #775f54;
  --txt-clr2: #ececeb;
  --linear-gradient-primary: linear-gradient(
    to right,
    #ed6981 0%,
    #c42c48 100%
  );
  --linear-gradient-2: linear-gradient(45deg, #ed6981 0%, #c42c48 100%);
  --white: #ffffff;
  --box-shadow1: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  --box-shadow2: 0px 1px 12px rgb(0 0 0 / 8%);
}

/* customized scrollbar */
body::-webkit-scrollbar {
  background: var(--bg-clr);
  width: 0.6rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: var(--accent-clr);
}

/* custom cursor */
#cursor {
  user-select: none;
  pointer-events: none;
  position: absolute;
  cursor: none;
  z-index: 99;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#cursor.blend {
  mix-blend-mode: multiply;
}
#cursor.blend2 {
  mix-blend-mode: hard-light;
}

.cursor_dot {
  position: relative;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent-clr);
  transition: background-color 0.2s, border-color 0.2s, border-radius 0.2s,
    transform 0.6s;
}
.cursor_dot.style1 {
  transform: scale(20) rotateY(360deg);
  background-color: var(--accent-clr);
}
/* .slogan_en::before{
  position: absolute;
  content: '';
  height: 0;
  border-radius: 1px;
  bottom: 100px;
  left: -10px;
  width: 75%;
  border-radius: 2px;
  display: block;
  background-color: var(--white);
  transition: height 250ms ease;
  mix-blend-mode: hard-light;
  opacity: 0.6;
}
.slogan_en:hover::before {
  height: 50%;
} */
.cursor_dot.style2 {
  transform: scale(10) rotateY(360deg);
  border: 0.1px solid var(--accent-clr);
  background-color: transparent;
}
.cursor_dot.click {
  background-color: transparent;
}
.cursor_dot.click::after {
  width: 6em;
  height: 6em;
  content: "CLICK";
  text-align: center;
  color: var(--accent-clr);
  color: var(--bg-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NewYork";
  letter-spacing: 2px;
  background-color: var(--bg-clr);
  background-color: var(--accent-clr);
  border-radius: 50%;
  position: absolute;
  left: -3em;
  top: -3em;
  animation: spin 4s infinite forwards cubic-bezier(1, 1, 1, 1);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cursor_dot_outline {
  position: absolute;
  top: -200%;
  left: -150%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(229, 128, 128, 0.2);
  transition: background-color 0.2s, border-color 0.2s, border-radius 0.2s,
    transform 0.6s;
}
.cursor_dot_outline.style1 {
  background-color: transparent;
}
.cursor_dot_outline.style2 {
  transform: scale(2) rotateX(360deg);
}
.cursor_dot_outline.click {
  background-color: transparent;
}
/* basic */
body {
  font-family: "IBMPlexSansKR-Light", "S-CoreDream-L", "LeferiPoint-WhiteA",
    sans-serif;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0.01rem;
  color: var(--txt-clr);
}
a {
  text-decoration: none;
  display: block;
}
.flex {
  display: flex;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.container {
  width: 100vw;
  background: var(--bg-clr);
  cursor: none;
}
.inner {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 4vw;
}
.accnt_clr2 {
  color: var(--accent-clr2);
}
.bold {
  font-family: "IBMPlexSansKR-Medium";
}
.smaller {
  font-size: 0.8rem;
}
.light {
  opacity: 0.5;
}
.category {
  font-family: "GmarketSansMedium";
  font-size: 1rem;
}
a.git {
  background: url(../images/icon_github_inactive.png) center / contain no-repeat;
}

/* nav */
nav {
  width: 100%;
  height: 70px;
  /* background: var(--bg-clr);
  box-shadow: var(--box-shadow1); */
  border-bottom: 1px solid var(--white);
  background: rgba(232, 222, 212, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9;
}
nav .inner {
  padding-top: 0px;
}
nav .logo {
  align-items: center;
  margin-right: 2vw;
}
nav h1 {
  text-indent: -222222px;
  font-size: 16px;
  line-height: 35px;
}

nav a.logo {
  top: 5px;
  left: 0;
}
nav a img {
  width: 45px;
  height: 36px;
  cursor: pointer;
}
nav a img.logo_right {
  left: 14px;
}
nav ul li {
  padding: 5px 2vw;
  height: 70px;
  line-height: 60px;
}
nav ul li:first-child {
  display: none;
}
nav ul li a {
  font-size: 16px;
  font-family: "GmarketSansMedium";
  color: rgba(119, 95, 84, 0.8);
  display: block;
  text-align: center;
}
nav ul li a:hover,
nav ul li.active a {
  font-family: "GmarketSansMedium";
  color: var(--accent-clr);
}

/* Scroll Event - sticky navigation */
nav.sticky {
  transition: all 0.3s ease-in;
  position: fixed;
  z-index: 100;
}

/* header */
header {
  width: 100vw;
  /* height: 820px; */
  height: 900px;
  background-color: var(--bg-clr);
}
header .inner {
  justify-content: space-between;
}
header .left {
  width: 50%;
  height: 100%;
  /* padding-top: 180px; */
  padding-top: 12vw;
}
header .left .button {
  padding-bottom: 3.5vw;
}
header .left a {
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  font-size: 22px;
  width: 12rem;
  height: auto;
  margin-right: 0.5rem;
}
a .circle {
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--linear-gradient-2);
  border-radius: 1.625rem;
  transition: all 0.3s cubic-bezier(0.87, 0.08, 0.78, 0.88);
}
a .circle .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--bg-clr);
  transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);
}
a .circle .icon.arrow {
  transition: all 0.3s cubic-bezier(0.63, 0.02, 0.65, 1.14);
  left: 0.5rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
a .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
a .button_text {
  font-family: "GmarketSansLight";
  transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);
  top: 0;
  left: -0.5rem;
  bottom: 0;
  padding: 0.2rem 0;
  margin: 0 0 0 4rem;
  color: var(--accent-clr);
  line-height: 1.8;
  text-align: center;
}
a:hover .circle {
  width: 100%;
}
a:hover .circle .icon.arrow {
  background: var(--bg-clr);
  transform: translate(1rem, 0);
}
a:hover .button_text {
  color: var(--bg-clr);
}
/* slogan */
header .left .slogan {
  font-family: "GmarketSansLight";
  top: 3vw;
}
header .left .slogan span {
  display: block;
  font-size: 2.8vw;
}
header .left .slogan span.name {
  display: block;
  all: unset;
  position: relative;
  bottom: 1vw;
  /* padding: 1em 0; */
  background: linear-gradient(
    70deg,
    #c42c48,
    #ffa9c1,
    #ed6981,
    #cc2c54,
    #c42c48,
    #f2376c,
    #ed6981,
    #cc2c54
  );
  color: var(--white);
  font-size: 3.8vw;
  letter-spacing: 0.15vw;
  word-spacing: 4px;
  animation: shifting-gradient 5s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 200%;
}
header .left .slogan_en {
  width: 90vw;
  bottom: 1.5vw;
  font-family: NewYork;
  /* font-size: 200px; */
  font-size: 16vw;
  color: var(--white);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
  background: linear-gradient(
    70deg,
    #c42c48,
    #ffa9c1,
    #ed6981,
    #cc2c54,
    #c42c48,
    #f2376c,
    #ed6981,
    #cc2c54
  );
  letter-spacing: 2px;
  word-spacing: 4px;
  animation: shifting-gradient 5s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 200%;
  z-index: 3;
}
/* heaader .left .slogan_en:hover {
  mix-blend-mode: difference;
} */

@keyframes shifting-gradient {
  0% {
    background-position: 200% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header .right {
  width: 40vw;
  height: 100%;
}
header .right .photo {
  width: 40vw;
  height: 90%;
  overflow: hidden;
  right: 5vw;
  z-index: 2;
}
header .right img {
  width: 100%;
}
header .right .bg_shape {
  /* width:630px; */
  width: 44vw;
  /* height: 630px; */
  height: 45vw;
  /* border-radius: 315px 315px 0 315px; */
  border-radius: 23vw 23vw 0 23vw;
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: var(--box-shadow2);
  right: 5vw;
  box-shadow: 35px 35px 70px #e5e1dc, -35px -35px 70px #fffdf8;
}

/* section general */
.section {
  width: 100%;
  height: 900px;
  height: 100%;
  padding-bottom: 4vw;
}
#section1 {
  background: #f4efea;
}
#section1 .inner {
  padding-top: 0px;
}
#section2 {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

/* Section1 : about page */
#section1 {
  padding-top: 6vw;
}
#section1 .tab ul::after {
  content: "&";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3vw;
  color: var(--accent-clr);
  font-size: 4vw;
  line-height: 6vw;
  font-family: "NewYork";
}
#section1 .tab ul li {
  width: 50vw;
  border-radius: 5vw;
  border: 1px solid var(--accent-clr);
  background: var(--bg-clr);
  margin-bottom: 2vw;
}
#section1 .tab ul li:first-of-type {
  z-index: 2;
  margin-right: 5rem;
  margin-right: 7.5vw;
}
#section1 .tab ul li:last-of-type {
  right: 0;
  border-radius: 5vw 0 0 5vw;
  border-radius: 5vw;
}
#section1 .tab ul li a {
  font-family: "NewYork";
  font-size: 3vw;
  color: var(--accent-clr);
  text-align: center;
  letter-spacing: 0.1rem;
}
#section1 .tab ul li:hover,
#section1 .tab ul li.active {
  background: var(--accent-clr);
  backdrop-filter: blur(15px);
  box-shadow: var(--box-shadow2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08), 0 2px 15px rgba(0, 0, 0, 0.08);
}
#section1 .tab ul li:hover a,
#section1 .tab ul li.active a {
  color: var(--accent-clr);
  color: var(--bg-clr);
}
#section1 > .inner {
  margin: auto;
}
#section1 .inner .tab_content .left,
#section1 .inner .tab_content .right {
  width: 50%;
}
#section1 .inner .tab_content #intro,
#section1 .inner .tab_content #skills {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: var(--box-shadow1);
  padding: 4vw;
  border-radius: 24px;
  display: none;
  background: #f4efea;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#section1 .inner .tab_content #intro {
  justify-content: space-between;
}
#section1 .inner .tab_content .left p {
  font-family: "GmarketSansLight";
  font-size: 2vw;
  font-size: 27px;
  padding-bottom: 3vw;
}
#section1 .inner .tab_content .left .icons > div {
  flex-wrap: wrap;
  padding-top: 2vw;
  transform: scale(0.9) translateX(-5%);
}
#section1 .inner .tab_content .left .icons span.program {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 1vw;
  background: url(../images/icons_programs_inactive.png) no-repeat;
  opacity: 0.3;
}
#section1 .inner .tab_content .left .row1 span.program:nth-of-type(2) {
  background-position: -70px 0;
}
#section1 .inner .tab_content .left .row1 span.program:nth-of-type(3) {
  background-position: -140px 0;
}
#section1 .inner .tab_content .left .row1 span.program:nth-of-type(4) {
  background-position: -210px 0;
}
#section1 .inner .tab_content .left .row1 span.program:nth-of-type(5) {
  background-position: -280px 0;
}
#section1 .inner .tab_content .left .row1 span.program:nth-of-type(6) {
  background-position: -350px 0;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(1) {
  background-position: 0 -60px;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(2) {
  background-position: -70px -60px;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(3) {
  background-position: -140px -60px;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(4) {
  background-position: -210px -60px;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(5) {
  background-position: -280px -60px;
}
#section1 .inner .tab_content .left .row2 span.program:nth-of-type(6) {
  background-position: -350px -60px;
}

#section1 .inner .tab_content .right {
  padding-top: 0.5rem;
}
#section1 .inner .tab_content .right ul {
  padding-left: 2vw;
  margin-bottom: 3vw;
}
#section1 .inner .tab_content .right .edu ul {
  padding-left: 1.6vw;
  margin-bottom: 3vw;
}
#section1 .inner .tab_content .right .lang ul {
  margin-bottom: 0;
}
#section1 .inner .tab_content .right ul li {
  font-family: "IBMPlexSansKR-Light", "GmarketSansLight";
  border: none;
  line-height: 27px;
}
/* Section1 keyword */
#section1 .keyword .inner {
  width: 100%;
}
#section1 .keyword ul {
  width: 100%;
  height: 100px;
  margin: auto;
  justify-content: space-between;
  flex-shrink: 0.5;
  align-items: center;
  padding-top: 2vw;
}
#section1 .keyword ul li {
  width: fit-content;
  height: 50px;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: var(--box-shadow1);
  border-radius: 35px;
  font-family: "GmarketSansMedium";
  font-size: 18px;
  line-height: 19px;
  color: var(--accent-clr2);
}
#section1 .keyword ul li:last-child {
  background: var(--linear-gradient-primary);
}
#section1 .keyword ul li a {
  color: var(--bg-clr);
}
/* Section1 Skills tab*/
#section1 .inner .tab_content #skills ul {
  width: 90%;
  margin: auto;
}
#section1 .inner .tab_content #skills ul li {
  padding-bottom: 2rem;
}
#section1 .inner .tab_content #skills ul li:last-of-type {
  padding-bottom: 0;
}
#section1 .inner .tab_content #skills li > * {
  font-family: "GmarketSansLight";
  font-size: 22px;
  vertical-align: middle;
  display: inline-block;
}
#section1 .inner .tab_content #skills li span {
  width: 250px;
}
#section1 .inner .tab_content #skills li .bar {
  width: 65%;
  height: 32px;
  border: 2px solid var(--white);
  border-radius: 20px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}
#section1 .inner .tab_content #skills li .bar span {
  display: inline-block;
}
#section1 .inner .tab_content #skills li .bar .progress {
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 20px;
  background: var(--linear-gradient-primary);
}
#section1 .inner .tab_content #skills li .bar .rate {
  color: var(--accent-clr);
  font-size: 16px;
  width: 5%;
  top: 2px;
  right: 3%;
}
#section1 .inner .tab_content #skills li:last-of-type .bar .rate {
  color: var(--white);
}
/* SECTION2 project pg */
.portfolio {
  width: 100%;
  height: 900px;
}
#section2 .inner,
#section3 .inner {
  padding-top: 5vw;
}
#section2 h2,
#section3 h2 {
  font-family: "GmarketSansLight";
  text-transform: uppercase;
  font-size: 3.5vw;
  color: var(--accent-clr);
  right: 0;
  z-index: 9;
}
#section2 .project1 .left,
#section2 .project3 .left,
#section2 .project2 .right,
#section2 .project4 .right,
#section2 .project5 .left {
  width: 70%;
  top: 7vw;
  transition: all 2s cubic-bezier(0.14, 0.25, 0.37, 1.12);
  opacity: 0;
}
#section2 .project1 .left,
#section2 .project3 .left,
#section2 .project5 .left {
  transform: translateX(-100%);
  left: 0;
}
#section2 .project3 .left {
  left: 60px;
}
#section2 .project2 .right,
#section2 .project4 .right {
  transform: translateX(100%);
}
#section2 .project2 .right {
  right: -310px;
}
#section2 .project4 .right {
  right: -115px;
}
#section2 .left.in,
#section2 .right.in {
  transform: translateX(0%);
  opacity: 1;
}
.mockup {
  width: 100%;
  height: 648px;
  left: 0;
}
.right .mockup {
  right: 0;
}
.mockup > div {
  width: 100%;
  height: 100%;
}
.mockup .desktop {
  width: 100%;
}
.mockup .desktop > img {
  width: 750px;
  left: -50px;
}
.mockup a.hidden {
  display: block;
  width: 646px;
  height: 363px;
  overflow: hidden;
  position: absolute;
  top: 17px;
  left: 24px;
}
.mockup a.hidden img {
  width: 100%;
  position: relative;
}
.mockup .laptop {
  width: 50%;
  top: 340px;
  right: 124px;
}
.mockup .laptop > img {
  width: 434px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 5, 0.25));
}
.mockup .laptop a {
  display: block;
  width: 362px;
  height: 227px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 33px;
  border-radius: 2px;
}
.mockup .latpop a img {
  width: 100%;
}
.mockup .tablet {
  width: 40%;
  top: 320px;
  left: -30px;
}
.mockup .tablet > img {
  width: 270px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 5, 0.25));
}
.mockup .tablet a {
  display: block;
  width: 223px;
  height: 292px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 22px;
  border-radius: 5px;
}
.mockup .tablet a img {
  width: 100%;
}
.mockup .mobile {
  width: 30%;
  top: 380px;
  left: -50px;
}
.project5 .mobile {
  left: 600px;
}
.mockup .mobile > img {
  width: 130px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 5, 0.25));
}
.mockup .mobile a {
  display: block;
  /* width: 131px;
  height: 280px; */
  width: 114px;
  height: 246px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 7px;
  border-radius: 14px;
}
.project2 .mockup .mobile {
  width: 100%;
  top: 0;
}
.project2 .mockup .mobile:last-child {
  left: 260px;
}
.project2 .mockup .mobile .prototype {
  top: 13px;
  left: 18px;
  width: 235px;
  height: 508px;
  border-radius: 25px;
  overflow: hidden;
}
.project2 .mockup .mobile .prototype iframe {
  width: 238px;
  height: 110%;
}
.project2 .mockup .mobile > img {
  width: 270px;
  filter: none;
}
.project4 .mockup .mobile {
  top: 368px;
  left: 50px;
}
.mockup .mobile a img {
  width: 100%;
}
#section2 .project1 .right,
#section2 .project2 .left,
#section2 .project3 .right,
#section2 .project4 .left,
#section2 .project5 .right {
  width: 28%;
  padding-top: 4vw;
  transition: all 2s cubic-bezier(0.14, 0.25, 0.37, 1.12);
  opacity: 1;
}
#section2 .project4 .left {
  width: 31%;
  padding-top: 2vw;
}
#section2 .project1 .right,
#section2 .project2 .left {
  width: 30%;
}
#section2 .project1 .right,
#section2 .project3 .right,
#section2 .project5 .right {
  transform: translateX(200%);
  right: 0;
}
#section2 .project2 .left,
#section2 .project4 .left {
  transform: translateX(-200%);
}
#section2 .project1 .right.in,
#section2 .project3 .right.in,
#section2 .project5 .right.in,
#section2 .project2 .left.in,
#section2 .project4 .left.in {
  transform: translateX(0%);
  opacity: 1;
}
#section2 .prj_name,
#section2 .duration,
#section2 .programs {
  justify-content: space-between;
  align-items: baseline;
}
#section2 .prj_name {
  padding-bottom: 15px;
}
#section2 .programs {
  padding-bottom: 40px;
}
#section2 .title {
  font-family: "GmarketSansMedium";
  font-size: 36px;
}
#section2 .proj_number {
  font-family: "GmarketSansLight";
  font-size: 84px;
  letter-spacing: -0.01em;
  color: var(--txt-clr2);
  font-style: oblique;
  margin-right: 0.4vw;
}
#section2 .duration,
#section2 .programs {
  font-size: 18px;
  font-family: "GmarketSansMedium", "IBMPlexSansKR-Medium";
  opacity: 0.8;
}
#section2 .duration .type,
#section2 .programs .tools {
  font-size: 18px;
  font-family: "IBMPlexSansKR-Regular";
}
#section2 .programs {
  align-items: center;
}
#section2 .programs .icons span {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
#section2 .icons span {
  text-indent: -222222222px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#section2 p {
  line-height: 27px;
}

/* section2 CTA buttons */
.cta {
  padding: 1rem 0;
  font-family: "GmarketSans Medium";
  font-size: 18px;
  justify-content: flex-end;
}
.cta span {
  display: inline-block;
}
.cta span.git {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  mix-blend-mode: screen;
}
.cta a:hover .git {
  background: url(../images/icon_github_inactive3.png) center/contain no-repeat;
  mix-blend-mode: screen;
}
.git {
  background: url(../images/icon_github_inactive.png) top / contain no-repeat;
}
#section2 .cta span.download {
  font-family: "Material Icons";
  font-size: 22px;
}
#section2 .btn {
  padding: 7px 15px;
  position: relative;
  margin-right: 0.3rem;
}
#section2 .btn:last-child {
  margin-right: 0;
}
#section2 .btn.rounded i {
  font-size: 22px;
  margin-right: 0.3rem;
  color: var(--txt-clr);
  mix-blend-mode: screen;
  top: 2px;
}
#section2 .btn.rounded:hover i {
  color: var(--bg-clr);
}
#section2 .btn.rounded .txt-clr {
  color: var(--txt-clr);
  mix-blend-mode: screen;
  letter-spacing: 0.01rem;
}
#section2 .btn.rounded:first-child .txt-clr {
  top: 1px;
  margin-left: 0.2rem;
}
#section2 .btn.rounded:hover .txt-clr {
  color: var(--bg-clr);
  mix-blend-mode: screen;
}
#section2 .btn.rounded::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 50px;
  width: 50%;
}
#section2 .btn.rounded:hover::before {
  background: var(--linear-gradient-2);
  width: 100%;
}

/* Section3 : Gallery */
.gallery_wrap {
  width: 1200px;
  margin: auto;
  padding-top: 6vw;
}
.gallery_wrap .gallery {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}
.gallery_wrap .gallery .work {
  flex: 1;
  min-height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 500ms cubic-bezier(1, 0.02, 0, 0.98);
  vertical-align: middle;
}
.work.p1 {
  background: url("../images/gallery_slide1.jpg");
}
.work.p2 {
  background: url("../images/gallery_slide2.jpg");
}
.work.p3 {
  background: url("../images/gallery_slide5.jpg");
}
.work.p4 {
  background: url("../images/gallery_slide3.jpg");
}
.work.p5 {
  background: url("../images/gallery_slide4.jpg");
}
.gallery_wrap .gallery .work .overlay {
  display: none;
  transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);
}
.gallery_wrap .gallery .work:hover .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom right,
    rgba(140, 24, 46, 0.6),
    rgba(140, 40, 59, 0.4),
    rgba(196, 44, 72, 0.4),
    rgba(140, 24, 46, 0.6)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-blend-mode: multiply;
  z-index: 9;
  display: block;
}
.gallery_wrap .gallery .work .desc_checkbox {
  display: none;
}
.gallery_wrap .gallery .work:hover label {
  display: block;
}
.gallery_wrap .gallery .work .desc_checkbox:checked ~ .overlay {
  display: none;
}
.gallery_wrap .gallery label {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
  position: absolute;
  z-index: 10;
  left: 5rem;
  top: 5rem;
}
.gallery_wrap .gallery label.cross,
.gallery_wrap .gallery label.plus {
  display: block;
}
.gallery_wrap .gallery label i::before,
.gallery_wrap .gallery label i::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--bg-clr);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gallery_wrap .gallery label i::before {
  transform: rotate(45deg);
}
.gallery_wrap .gallery label i::after {
  transform: rotate(-45deg);
}
.desc_checkbox:checked ~ label i::before {
  transform: rotate(90deg);
}
.desc_checkbox:checked ~ label i::after {
  transform: rotate(180deg);
}
.gallery_wrap .gallery span {
  display: block;
  color: var(--bg-clr);
  font-family: "GmarketSansLight";
  top: 5rem;
  left: 12rem;
  z-index: 10;
  visibility: hidden;
  text-transform: uppercase;
}
.gallery_wrap .gallery span.desc {
  font-size: 0.8rem;
  top: 6.8rem;
}
.gallery_wrap .gallery .work:hover span {
  visibility: visible;
}
.gallery_wrap .gallery .work.open {
  flex: 55;
}
/* gallery description card */
.gallery_wrap .gallery .overlay .desc_card {
  width: 40%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(140, 24, 46, 0.4),
    rgba(140, 40, 59, 0.2),
    rgba(196, 44, 72, 0.42),
    rgba(140, 24, 46, 0.4)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-blend-mode: multiply;
  color: var(--white);
  letter-spacing: 0.05rem;
  padding: 6rem 4rem 4rem;
  z-index: 10;
  right: 0;
}
.gallery_wrap .gallery .desc_card h3 {
  font-family: "GmarketSansMedium";
  font-size: 1.5rem;
  line-height: 1.2;
  padding-bottom: 4rem;
}
.gallery_wrap .gallery .desc_card .scope {
  font-family: "GmarketSansLight";
  text-transform: uppercase;
  padding-left: 1rem;
  text-align: left;
}
.gallery_wrap .gallery .desc_card .scope::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 1px;
  height: 63px;
  background-color: var(--bg-clr);
}
.gallery_wrap .gallery .desc_card .scope h4 {
  font-size: 0.8rem;
  padding-bottom: 0.7rem;
}
.gallery_wrap .gallery .desc_card .scope h4:nth-child(2) {
  padding-bottom: 0.2rem;
  line-height: 0.7;
}
.gallery_wrap .gallery .desc_card .scope ul {
  font-size: 0.7rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gallery_wrap .gallery .desc_card .scope ul li {
  margin-right: 0.3rem;
}
.gallery_wrap .gallery .desc_card p {
  text-align: left;
}

/* section 4 - contact */
#section4 {
  background: var(--accent-clr);
  height: 400px;
  color: var(--bg-clr);
  font-family: "GmarketSansLight";
}
#section4 .inner {
  height: 90%;
  flex-direction: row-reverse;
  padding-top: 90px;
}
#section4 .left {
  width: 35vw;
  padding-top: 160px;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.9;
}
#section4 .left .w3c_valid a {
  margin-right: 10px;
}
#section4 .left .copyright {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#section4 .right {
  width: 60vw;
  flex-direction: column;
  justify-content: space-between;
}
#section4 .right .top {
  width: 100%;
  height: 40%;
  justify-content: flex-start;
  margin-bottom: 5vw;
}
#section4 .logo_animate {
  width: 105px;
  left: -3vw;
}
#section4 .logo_animate object {
  width: 90px;
  height: 100%;
  background-blend-mode: multiply;
}
#section4 .logo_animate object.right {
  left: 2.2vw;
  left: 40px;
}
#section4 h2 {
  font-size: 80px;
  line-height: 1;
}
#section4 h5 {
  font-size: 1.8rem;
  font-size: 2rem;
  font-family: "GmarketSansLight";
  font-family: "IBMPlexSansKR-ExtraLight";
  line-height: 1.5;
  letter-spacing: 1.5px;
}
#section4 .contact {
  bottom: 0;
}
#section4 .contact span {
  display: block;
}
